/* thanks for all your help
tetcher :)  from magdi salih
thanks for Alight coding School Rwanda Mahama  */
/* this for all page  */
body {
  background-color: rgb(73, 61, 66);
  color: rgb(154, 55, 72);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* this for header page  */
.header {
  z-index: 999;
  display: flex; 
  position: fixed;
  display: flex;
  font-size: 10px;
  align-items: center;
  width:99%;
  height: 70px;
  margin: 0px;
border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.835);
  background: linear-gradient(to right,
      rgb(224, 75, 6), rgb(58, 48, 48));
}

/* this for home page  */
#home {
  background: linear-gradient(to right, #3a6772, #bdb654);
  display: flex;
  justify-content: space-between;
  /* padding: 50px; */
   text-align: center; 
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

#home h1 p {
  font-size: 2vw;
  color: #000000;
}

/* this for nav bar  */
 nav a {
  border-radius: 40px;
  text-decoration: none;
  margin-right: 80px;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
} 

/* this for nav bar hover  */
nav a:hover {
  border-radius: 90px;
  background-color: #b3b3b3;
  color: #32393a;
  transform: scale(1.1);
  transition: 0.2s;
  /* border: 1px solid rgb(231, 191, 14); */
}

/* this for login and signup button  */
div.in-up a {
  text-decoration: none;
  color: #fff;
  margin-right: 80px;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

/* this for login and signup button hover  */
div.in-up a:hover {
  color: #00e1ff;
  transform: scale(1.1);
  transition: 0.2s;
}

/* this for home page image  */
.pic img {
  width: 350px; 
   height: 420px;
  border-radius: 6px 10px 10px 1px;
  /* object-fit: cover; */
}

/* this for home page text  */
section h1 {
  margin-left: 100px;
  /* width: 10%; */
  font-size: 50px;
  color: #ff6200;
  text-shadow: 2px 2px 4px #060606;
}

/* this for home page text hover  */
section h1:hover {
  color: #246169;
  transform: scale(1.1);
  transition: 0.2s;
  /* border: 1px solid rgb(231, 191, 14); */
}

/* this for about me page  */
#About-me {
  background-color: #946651;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;

}

/* this for about me page text  */
#About div p {
  display: flex;
  align-items: center;
  margin: auto;
  display: flex;
  color: black;
  /* background-color: seashell; */
  background: linear-gradient(to right, #fff, #ff8401);
 height: 400px;
  width: 70%;
  border-radius: 20px;
  border: solid 5px rgb(255, 255, 255);
  font-size: 20px;
  text-shadow: 2px 2px 4px #4e4646;
}

/* this for services page */
#Services {
  flex-wrap: wrap;
  background-color: #965638;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

/* this for services box  */
.box-services {
  display: flex;
  width: 240px;
  height: 300px;
  border-radius: 20px;
  font-size: 20px;
  color: #0b0b0b;
  background: linear-gradient(to right, #ef7605, #d1d1d1);
  /* background-color: rgb(209, 105, 31); */
  text-shadow: 2px 2px 4px #474141;
  border: solid 5px rgb(255, 252, 252);
}

/* this for services box hover  */
.box-services:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background: #ced0d3;
  border: 5px solid rgb(99, 82, 115);
}

/* this for skills page  */
#Skills {
  background: linear-gradient(to right, #d87111, #2d221d);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/* this is for skill h2  */
#Skills h2 {
  font-size: 30px;
  color: #000000;
  display: flex;
}

/* this is for skills ol padding */
#Skills ol {
  font-size: 20px;
  font-weight: 800;
  color: #04bbf3;

}

/* this is for Skills ol hover */
#Skills ol:hover {
  transform: translate(150px, 5%);
  transition: 0.9s;
  color: #ffffff;

}

/* this for contact page */
#Contact {
  background-color: #375166;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;

}

/* this for contact page text  */
.contact-info {
  display: flex;
  height: 400px;
  color: black;
  background-color: seashell;
  background: linear-gradient(to right, #fff, #ff8401);
  width: 50%;
  border-radius: 20px;
  border: solid 5px rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: 2px 2px 4px #4e4646;
}

/* this for contact page h2  */
.contact-info h2 {
  font-size: 40px;
  color: #f47107;
  text-shadow: 2px 2px 4px #474141;
  font-style: italic;
}

/* this for contact page p  */
.contact-info {
  align-items: center;
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  font-style: italic;

}

/* this for contact page a  */
.contact-info a {
  align-items: center;
  display: inline-block;
  text-decoration: none;
  color: #2d3db4;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;

}

/* this for blog page */
#blog {
  flex-wrap: wrap;
  background-color: #965638;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

/* this for bloss css  */
.blog-card {
  display: flex;
  margin: auto;
  width: 240px;
  height: 300px;
  border-radius: 40px 1px 40px 70px;
  font-size: 0px;
  color: #0b0b0b;
  background: linear-gradient(to right, #ef7605, #d1d1d1);

  border: solid 5px rgb(255, 255, 255);
}

/* this is logo card */
.blog-card2 {
  display: flex;
  margin: auto;
  width: 240px;
  height: 300px;
  border-radius: 40px 1px 40px 70px;
  font-size: 0px;
  color: #0b0b0b;
  background: linear-gradient(to right, #ef7605, #d1d1d1);
  border: solid 5px rgb(255, 255, 255);
}

.blog-card2 img {
  width: 240px;
  height: 300px;
  border-radius: 40px 1px 40px 70px;
}

/* this is for logo img */
.blog-card img {
  width: 240px;
  height: 300px;
  border-radius: 40px 1px 40px 70px;
}

/* this is for card2 hover */
.blog-card2:hover {
  width: 600px;
  font-size: 20px;

}

/* this is for blog card hover */
.blog-card:hover {
  width: 600px;
  font-size: 15px;
}

/* this is for blos logo  */
#blog h3 {
  width: 120px;
  background: linear-gradient(to right, #f8f8f8, #ff7c02);
  border-radius: 10px 30px;
  font-size: 40px;
  background-color: #c51f1f;
  position: absolute;
  display: flex;
  color: #000000;
  border: double 3px rgb(0, 0, 0);
  justify-content: center;
}

/* this is for logo  */
#blog h3 span {
  font-size: 50px;
  color: #f70000;
}

/* this for logo hover */
#blog h3 span:hover {
  transform: scale(2.1);
  transition: 0.2s;
}

/* this for blog h3 hover */
#blog h3:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background: #eef0ef;
  color: #c51f1f;
}

/* this is for blog a */
#blog a {

  display: flex;

  margin: 50px;
  text-decoration: none;
  font-size: 30px;
  background-color: #246169;
  border-radius: 10px;
  border: solid;
  color: #f8f7f7;

}

/* this for login and signup page */
#Login {
  background-color: #285c69;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px; */
  text-align: center;
  width: 100%;
  min-height: 100vh;

}

/* this for login form  */
.Login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  width: 80%;
  height: 500px;
  border-radius: 20px;
  background: linear-gradient(to right, #ef7605, #d1d1d1);
  text-shadow: 2px 2px 4px #474141;
  border: solid 3px rgb(255, 252, 252);
  box-shadow: 0 4px 8px rgba(14, 13, 13, 0.835);
}

/* this for login form input  */
#Login h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #fff, #ff8401);
  color: #f47107;
  font-size: 40px;
  text-shadow: 2px 2px 4px #474141;
  font-style: italic;
}

/* this is for logoin form user */
.Login-form .user {
  align-items: center;
  font-size: 27px;
  font-weight: bold;
  color: #000000;
  font-style: italic;
}

/* this is for logo-form in   */
.Login-form .in {
  width: 50%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: solid 2px rgb(255, 247, 247);
  background-color: burlywood;

}

/* this for login form submit button  */
.Login-form input[type="submit"] {
  width: 30%;
   padding: 4px;
  margin: 4px; 
  border-radius: 10px;
  border: solid 2px rgb(0, 0, 0);
  font-size: 20px;
  background-color: #246169;
  color: white;
  font-weight: bold;
  font-style: italic;
}

/* this for login form submit button hover  */
.Login-form input[type="submit"]:hover {
  background-color: #ff7b00;
  transform: scale(1.1);
  transition: 0.2s;
}

/* this for login form submit button  */
.Login-form a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

/* this for login form submit button hover  */
.Login-form a:hover {
  color: #00e1ff;
  transform: scale(1.1);
  transition: 0.2s;
}

/* this for signup page  */
#Sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #246169;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

/* this for signup */
.Signup {
  /* display: flex; */
  width: 80%;
  height: 500px;
  border-radius: 20px;
  background: linear-gradient(to right, #ef7605, #d1d1d1);
  text-shadow: 2px 2px 4px #474141;
  border: solid 3px rgb(255, 252, 252);
  box-shadow: 0 4px 8px rgba(14, 13, 13, 0.835);
}

/* this for Signup logo h2*/
.Signup h2 {
  /* margin-bottom: 80px; */
  font-style: italic;
  background: linear-gradient(to right, #fff, #ff8401);
  border-radius: 3px;
  /* border: double #6a6967 ; */
  color: #000000;
  font-size: 2vw;
  text-shadow: 2px 2px 4px #474141
}

/* this for signup form user */
.Signup .user {
  font-size: 1.50vw;
  font-weight: bold;
  color: #000000;
  font-style: italic;
}

/* this for signup form input */
.Signup .in {
  width: 50%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: solid 2px rgb(255, 247, 247);
  background-color: burlywood;
}

/* this for signup form submit button */
.Signup input[type="submit"] {
  width: 20%;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: solid 2px rgb(0, 0, 0);
  font-size: 1.50vw;
  background-color: #246169;
  color: white;
  font-weight: bold;
  font-style: italic;
}

/* this for signup form submit button hover */
.Signup input[type="submit"]:hover {
  background-color: #ff7b00;
  transform: scale(1.1);
  transition: 0.2s;
  background-color: rgb(70, 70, 75);
}

/* this for signup form submit button */
.Signup a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  font-weight: bold;
  font-style: italic;
  font-size: 2vw;
}

/* this for signup form submit button hover */
.Signup a:hover {
  color: #00e1ff;
  transform: scale(1.1);
  transition: 0.2s;
}

/* Responsive styles for all devices */
@media (max-width: 900px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-size: 16px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .in-up {
    margin-top: 10px;
    margin-right: 0;
  }

  #home {
    flex-direction: column;
    padding: 20px 0;
    min-height: 60vh;
    text-align: center;
  }

  .pic img {
    margin-left: 0;
    width: 60vw;
    max-width: 300px;
    height: auto;
  }

  section h1 {
    margin-left: 0;
    font-size: 2em;
  }

  #About-me {
    flex-direction: column;
    padding: 20px 0;
    min-height: 60vh;
    text-align: center;
  }

  #About div p {
    margin-left: 0;
    padding: 20px;
    width: 90vw;
    font-size: 1.2em;
  }

  #Services {
    flex-direction: column;
    padding: 20px 0;
    min-height: 60vh;
    text-align: center;
    align-items: center;
  }

  .box-services {
    width: 90vw;
    height: auto;
    margin-right: 0;
    font-size: 1em;
  }

  #Skills {
    flex-direction: column;
    padding: 20px 0;
    min-height: 60vh;
    text-align: center;
    align-items: center;
  }

  #Skills h2 {
    font-size: 2em;
  }

  #Skills ol {
    font-size: 1em;
  }

  #Contact {
    flex-direction: column;
    padding: 20px 0;
    min-height: 60vh;
    text-align: center;
    align-items: center;
  }

  .contact-info {
    margin-left: 0;
    padding: 20px;
    width: 90vw;
    font-size: 1.2em;
  }

  .contact-info h2 {
    font-size: 2em;
  }
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  background: transparent;
  position: relative;
  width: 100%;
}

/* this is for logo */
.menu-btn {
  display: none;
  font-size: 2em;
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
}

/* this is for nav bar input */
.navbar input[type="checkbox"] {
  display: none;
}

/* this is for nav bar links */
.navbar .nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* this is for nav bar links li */
.navbar .nav-links li {
  margin: 0 10px;
}

/* this is for nav bar links a */
.navbar .nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  padding: 8px 12px;
  transition: color 0.2s;
}

/* this is for nav bar links a hover */
.navbar .nav-links a:hover {
  color: #32393a;
}

/* this is for nav bar links a active */
@media (max-width: 900px) {
  .navbar .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(224, 75, 6), rgb(202, 168, 168));
    display: none;
    z-index: 999;
  }

  .navbar input[type=\"checkbox\"]:checked~.nav-links {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}

.footer {
  display: flex;
 position: -ms-page;
  bottom: 0;
  width: 100%;
  height: 20px;
  justify-content: center;
  color: #fff;
  background-color: #47648f;
  display: flex;
  align-items: center;
}